{% extends "one_column_body.html" %}
{% from "macros.html" import node_breadcrumb %}


{% block title %}{% trans %}Ask to create node{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <li><span>{% trans %}Ask to create node{% endtrans %}</span></li>
{% endblock %}


{% block content %}
    <h2 class="node">{% trans %}Node{% endtrans %}{% trans %}:{% endtrans %}</h2>
        {% if sent %}
            <h1>{% trans %}Your request to create new node was sent.{% endtrans %}</h1>
        {% else %}
            <p>{% trans %}You may ask Node manager to create a new Node using form below.{% endtrans %}</p>
            <form action="{% url node_ask_to_create %}" method="post">
                {% csrf_token %}
                {{ form }}

                <ul>
                    <li><small>{% trans %}Point, where will be Node placed.{% endtrans %}</small></li>
                    <li><small>{% trans %}Public or private Node?{% endtrans %}</small></li>
                    <li><small>{% trans %}In the case of a private Node specify which users have access.{% endtrans %}</small></li>
                    <li><small>{% trans %}Which modules will included in Node (Q&A, Discussion, Documents)?{% endtrans %}</small></li>
                    <li><small>{% trans %}Others...{% endtrans %}</small></li>
                </ul>
                <input type="submit" class="button success" value="{% trans %}Ask to create node{% endtrans %}"/>
            </form>
        {% endif %}
{% endblock %}
