{% extends "two_column_body.html" %}

{% block title %}{% trans %}Change password{% endtrans %}{% endblock %}

{% block content %}

{% if unknow_user %}

    <div class="row">
        <div class="twelve columns">
            <h1>{% trans %}User not found{% endtrans %}</h1>
        </div>
    </div>

{% else %}

    <form method="post" action="{{ request.path }}">{% csrf_token %}
        <div class="row">
            <div class="twelve columns">

                 <div class="twelve columns tabular-form">
                    <div class="row">
                        <div class="twelve columns">
                            <h1>{% trans %}Change password{% endtrans %}</h1>
                        </div>
                    </div>

                    {% if form.errors %}
                        <div class="alert-box alert">{% trans %}Cannot submit, form has errors.{% endtrans %}</div>
                    {% endif %}


                    <div class="row">
                        <div class="three columns">
                            <label class="label-tabular" for="id_password_1">{% trans %}New password{% endtrans %}</label>
                        </div>
                        <div class="nine columns">
                            {{ form.password_1 }}
                            {% if form.password_1.errors %} <small class="error">{% for error in form.password_1.errors %}{{ error }}{% if not loop.last %}, {% endif %}{% endfor %}</small>{% endif %}
                            <div class="form-field-separator"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="three columns">
                            <label class="label-tabular" for="id_password_2">{% trans %}New password (repeat){% endtrans %}</label>
                        </div>
                        <div class="nine columns">
                            {{ form.password_2 }}
                            {% if form.password_2.errors %} <small class="error">{% for error in form.password_2.errors %}{{ error }}{% if not loop.last %}, {% endif %}{% endfor %}</small>{% endif %}
                            <div class="form-field-separator"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="three columns">
                        </div>
                        <div class="nine columns">
                            <button class="large button" type="submit" name="change_password" value="1">{% trans %}Save{% endtrans %}</button>
                            <div class="form-field-separator"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </form>
{% endif %}
{% endblock %}
