{% extends "two_column_body.html" %}

{% block title %}{% trans %}Lost password{% endtrans %}{% endblock %}

{% block content %}

<form id="signin-form" method="post" action="{{ request.path }}">{% csrf_token %}

    <div class="row">
        <div class="twelve columns">


             <div class="twelve columns tabular-form">
                <div class="row">
                    <div class="twelve columns">
                        <h1>{% trans %}Lost password{% endtrans %}</h1>
                    </div>
                </div>

                {% if form.errors %}
                    <div class="alert-box alert">{% trans %}Cannot submit, form has errors.{% endtrans %}</div>
                {% endif %}


                <div class="row">
                    <div class="three columns">
                        <label class="label-tabular" for="id_new_password_retyped">{% trans %}E-mail{% endtrans %}</label>
                    </div>
                    <div class="nine columns">
                        {{ form.email }}
                        {% if form.email.errors %} <small class="error">{% for error in form.email.errors %}{{ error }}{% if not loop.last %}, {% endif %}{% endfor %}</small>{% endif %}
                        <div class="form-field-separator"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="three columns">
                    </div>
                    <div class="nine columns">
                        <button class="large button" type="submit" name="change_password" value="1">{% trans %}Send{% endtrans %}</button>
                        <div class="form-field-separator"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</form>

{% endblock %}
