{% extends "two_column_body.html" %}
{% import "authopenid/authopenid_macros.html" as login_macros %}
{% from "macros.html" import sidebar_back_button, sidebar_help %}
<!-- signin.html -->
{% block title %}{% spaceless %}{% trans %}User login{% endtrans %}{% endspaceless %}{% endblock %}
{% block forestyle %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{"/jquery-openid/openid.css"|media}}"/>
{% endblock %}


{% block sidebar %}
    {% if user.is_anonymous() %}
        {% call sidebar_back_button(_('Back to Homepage')) -%} {# spaceless is neccessary because content is included into href #}
            {% url 'index' %}
        {%- endcall %}
        {{ sidebar_help(_('Login page'), _('help_login_page_short'), _('More help'), _('help_login_page_html'), 'help_login_page_html') }}
    {% else %}
        {% call sidebar_back_button(_('Back to Profile')) -%} {# spaceless is neccessary because content is included into href #}
            {{ request.user.get_absolute_url() }}
        {%- endcall %}
        {{ sidebar_help(_('Change password page'), _('help_change_password_page_short'), _('More help'), _('help_change_password_page_html'), 'help_change_password_page_html') }}
    {% endif %}

{% endblock %}


{% block content %}
<div class="content-panel-wrapper">
    <form id="signin-form" method="post" action="{{ settings.LOGIN_URL }}">
        {% csrf_token %}
        {{ login_form.login_provider_name }}
        {{ login_form.next }}
        {{ login_form.password_action }}

        {% if user.is_anonymous() %}
        <div class="content-panel-control content-inline">
            <h2 class="title">{% trans %}Sign in{% endtrans %}</h2>
        </div>
        <div class="content-panel">
            <div class="content-panel-header">
                <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
                    {# first breadcrumb element #}
                    <li><a href="/">{% trans %}Home{% endtrans %}</a></li>
                    <li><span>{% trans %}Sign in{% endtrans %}</span></li>
                </nav>
            </div>
            <div class="content-panel-content">
                {% if login_form.password_login_failed %}
                    <div class="alert-box alert">{% if login_form.password_login_failed_msg %}{{ login_form.password_login_failed_msg }}{% else %}{% trans %}Login failed, please try again{% endtrans %}{% endif %}</div>
                {% endif %}

                <div class="row">
                    <div class="large-3 columns">
                        <label class="label-tabular" for="id_username">{% trans %}Email{% endtrans %}</label>
                    </div>
                    <div class="large-9 columns">
                        {{ login_form.username }}
                        <div class="form-field-separator"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="large-3 columns">
                        <label class="label-tabular" for="id_password">{% trans %}Password{% endtrans %}</label>
                    </div>
                    <div class="large-9 columns">
                        {{login_form.password}}
                        <div class="form-field-separator"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="large-3 columns"></div>
                    <div class="large-9 columns">
                        <button class="button large success" type="submit" name="login_with_password" value="1">{% trans %}Sign in{% endtrans %}</button>
                        <a class="button large f-right" href="{{ settings.USER_REGISTRATION_URL }}?login_provider=local&amp;next=/" >{% trans %}Create new user account{% endtrans %}</a>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="large-3 columns"></div>
                    <div class="large-9 columns">
                        <a href="{% url lost_password %}" class="right">{% trans %}Lost password{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="content-panel-control content-inline">
            <h2 class="title">{% trans %}Change your password{% endtrans %}</h2>
        </div>
        <div class="content-panel">
            <div class="content-panel-header">
                <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
                    {# first breadcrumb element #}
                    <li><a href="/">{% trans %}Home{% endtrans %}</a></li>
                    <li><span>{% trans %}Change your password{% endtrans %}</span></li>
                </nav>
            </div>
            <div class="content-panel-content">
                {% if login_form.errors %}
                    <div class="alert-box alert">{% trans %}Cannot submit, form has errors.{% endtrans %}</div>
                {% endif %}
                <div class="row">
                    <div class="large-3 columns">
                        <label class="label-tabular" for="id_new_password">{% trans %}New password{% endtrans %}</label>
                    </div>
                    <div class="large-9 columns">
                        {{ login_form.new_password }}
                         {% if login_form.new_password.errors %} <small class="error">{% for error in login_form.new_password.errors %}{{ error }}{% if not loop.last %}, {% endif %}{% endfor %}</small>{% endif %}
                        <div class="form-field-separator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 columns">
                        <label class="label-tabular" for="id_new_password_retyped">{% trans %}Please, retype{% endtrans %}</label>
                    </div>
                    <div class="large-9 columns">
                        {{ login_form.new_password_retyped }}
                        {% if login_form.new_password_retyped.errors %} <small class="error">{% for error in login_form.new_password_retyped.errors %}{{ error }}{% if not loop.last %}, {% endif %}{% endfor %}</small>{% endif %}
                        <div class="form-field-separator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 columns">
                    </div>
                    <div class="large-9 columns">
                        <button class="button button-submit" type="submit" name="change_password" value="1">{% trans %}Change password{% endtrans %}</button>
                        <div class="form-field-separator"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}
<!-- end signin.html -->
