{% extends "two_column_body.html" %}
{% import "authopenid/authopenid_macros.html" as login_macros %}
{% from "macros.html" import sidebar_back_button, sidebar_help, render_formfield_row %}
<!--signup.html-->
{% block title %}{% spaceless %}{% trans %}Signup{% endtrans %}{% endspaceless %}{% endblock %}
{% block forestyle %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{"/jquery-openid/openid.css"|media}}"/>
{% endblock %}
{% block forejs %}
    {{ form.media }}
{% endblock %}



{% block sidebar %}
    {% call sidebar_back_button(_('Back to Homepage')) -%} {# spaceless is neccessary because content is included into href #}
        {% url 'index' %}
    {%- endcall %}

    {{ sidebar_help(_('Registration page'), _('help_registration_page_short'), _('More help'), _('help_registration_page_html'), 'help_registration_page_html') }}

{% endblock %}



{% block content %}

<div class="row">
    <div class="twelve columns">

        <h1 class="section-title">{% trans %}Create new user account{% endtrans %}</h1>
{#         {% if settings.PASSWORD_REGISTER_SHOW_PROVIDER_BUTTONS == True %}
            <h1 class="section-title">{% trans %}Please register by clicking on any of the icons below{% endtrans %}</h1>
            <form id="signin-form" method="post" action="{{ settings.LOGIN_URL }}">{% csrf_token %}
                {# hide_local_login == True because it is password reg form  .. TODO Comment end..
                {{
                    login_macros.provider_buttons(
                        login_form = login_form,
                        major_login_providers = major_login_providers,
                        minor_login_providers = minor_login_providers,
                        hide_local_login = True,
                        settings = settings
                    )
                }}
            </form>
            <h2>{% trans %}or create a new user name and password here{% endtrans %}</h2>
        {% else %}
            <!--p class="message">{% trans %}<span class='strong big'>If you prefer, create your forum login name and
        password here. However</span>, please keep in mind that we also support
        <strong>OpenID</strong> login method. With <strong>OpenID</strong> you can
        simply reuse your external login (e.g. Gmail or AOL) without ever sharing
        your login details with anyone and having to remember yet another password.{% endtrans %}</p-->
        {%endif%}
 #}        {% if form.errors %}
            <div class="alert-box alert">{% trans %}Cannot submit, form has errors.{% endtrans %}</div>
        {% endif %}
        <form action="{% url user_signup_with_password %}" method="post" accept-charset="utf-8">{% csrf_token %}
            {{ form.login_provider }}
            {{ form.next }}
            <input type="hidden" value="1" id="id_one_plus_one" name="one_plus_one" />
            <div class="group">
                <div class="twelve columns tabular-form">
                    <div class="row">
                        <div class="columns twelve">
                            <h2>{% trans %}Required information{% endtrans %}</h2>
                        </div>
                    </div>
                    {{ render_formfield_row(form.email, labeltext=_("Email"), helptext=_("We will never show your email to other users, nor provide it to a third party. Only system administrators and node managers may see it.")) }}
                    <div class="row separator-01"></div>
                    {{ render_formfield_row(form.password1, labeltext=_("Password"), helptext=_('Choose your password. For example "Star_$U5".')) }}
                    {{ render_formfield_row(form.password2, labeltext=_("Password again"), helptext=_('Retype your password for confirmation')) }}
                    <div class="row separator-01"></div>
                    {{ render_formfield_row(form.first_name, labeltext=_("First name"), helptext=_("For example: \"John Allan\".")) }}
                    {{ render_formfield_row(form.last_name, labeltext=_("Last name"), helptext=_("For example: \"Smith\".")) }}
                    <div class="row separator-01"></div>
                    <div class="row">
                        <div class="columns twelve">
                            <h2>{% trans %}Optional information{% endtrans %}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns twelve">
                            <p>{% trans %}If you want do change your sigature to something else than first name and last name, please fill up the Screen name.{% endtrans %}</p>
                        </div>
                    </div>
                    {{ render_formfield_row(form.display_name, labeltext=_("Screen name"), helptext=_("Type your name in format you want it to be displayed to other users. For example: \"Dr. John A. Smith\".")) }}
                    <div class="row">
                        <div class="columns twelve">
                            <p>{% trans %}Please provide some information about you (company, occupation, contact), so other users may recognize your competences and find you for cooperation.{% endtrans %}</p>
                        </div>
                    </div>
                    {{ render_formfield_row(form.user_description, labeltext=_("Additional information")) }}


                    {% if settings.USE_RECAPTCHA %}
                    <div class="row">
                        <div class="twelve columns">
                            <p class="signup_p">{% trans %}Please read and type in the two words below to help us prevent automated account creation.{% endtrans %}</p>
                            {{ form.recaptcha }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="three columns"></div>
                        <div class="nine columns t-left">
                            <button type="submit" class="button large success">{% trans %}Signup{% endtrans %}</button>
                            {#{% if settings.PASSWORD_REGISTER_SHOW_PROVIDER_BUTTONS == False %}
                                <strong>{% trans %}or{% endtrans %}
                                <a href="{{ settings.LOGIN_URL }}">{% trans %}return to OpenID login{% endtrans %}</a></strong>
                            {% endif %}#}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery('#id_one_plus_one').val(1+1);
});
</script>
{% endblock %}

{% block endjs %}
    {%include "authopenid/providers_javascript.html" %}
{% endblock %}
<!--end signup.html-->
