
{# Use koundation, man! #}
<link href="{{ "/colorbox/colorbox.css"|media }}" rel="stylesheet" type="text/css" />
{{ skin.get_extra_css_link() }}
<link href="{{ "/jquery-ui/jquery-ui.min.css"|media }}" rel="stylesheet" type="text/css" />
<!-- <link href="{{ "/style/screen.css"|media }}" rel="stylesheet" type="text/css" /> -->
<link href="{{ "/assets/css/screen.css"|media }}" rel="stylesheet" type="text/css" />

<style type="text/css">
    .vote-notification {
        z-index: 1;
        cursor: pointer;
        display: none;
        position: absolute;
        font-family: Arial;
        font-size: 14px;
        font-weight: normal;
        color: white;
        background-color: #8e0000;
        text-align: center;
        padding-bottom: 10px;
        -webkit-box-shadow: 0px 2px 4px #370000;
        -moz-box-shadow: 0px 2px 4px #370000;
        box-shadow: 0px 2px 4px #370000;
        border-radius: 4px;
        -ms-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        width: 200px;
    }
    .vote-notification h3 {
        /*background: url(../images/notification.png) repeat-x top;*/
        padding: 10px 10px 10px 10px;
        font-size: 13px;
        margin-bottom: 5px;
        border-top: #8e0000 1px solid;
        color: #fff;
        font-weight: normal;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-topleft: 4px;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
    }
    .vote-notification a {
        color: #fb7321;
        text-decoration: underline;
        font-weight: bold;
    }

    .ui-autocomplete-category {
        font-weight: bold;
        padding: .2em .4em;
        margin: .8em 0 .2em;
        line-height: 1.5;
    }
</style>
