<div class="ten pagination">
    {% if page.has_previous() or page.has_next() %}
        <p>
            {% if page.has_previous() %}
                <a href="?q={{ query }}&amp;page={{ page.previous_page_number() }}">&laquo; Previous</a>
            {% else %}
                &laquo; Previous
            {% endif %}

            {{ page.number }} / {{ paginator.num_pages }}

            {% if page.has_next() %}
                <a href="?q={{ query }}&amp;page={{ page.next_page_number() }}">Next &raquo;</a>
            {% else %}
                Next &raquo;
            {% endif %}

        </p>
    {% endif %}
</div>
