<div class="ten pagination">
    {% if page.has_previous() or page.has_next() %}
        <p>

            {% if page.has_previous() %}
                <a href="?q={{ query }}&amp;page={{ page.previous_page_number() }}&amp;{{ search_in_query }}">&laquo; {% trans %}previous{% endtrans %}</a>
            {% else %}
                &laquo; {% trans %}previous{% endtrans %}
            {% endif %}

            {{ page.number }} / {{ paginator.num_pages }}

            {% if page.has_next() %}
                <a href="?q={{ query }}&amp;page={{ page.next_page_number() }}&amp;{{ search_in_query }}">{% trans %}next{% endtrans %} &raquo;</a>
            {% else %}
                {% trans %}next{% endtrans %} &raquo;
            {% endif %}

        </p>
    {% endif %}
</div>
