{% extends 'admin/base_site.html' %}
{% load i18n extra_tags %}

{% block title %}
    {% trans "Documents state" %}
{% endblock %}

{% block content %}

<style type="text/css" media="screen">
    .table-rules td {
        width: 20px;
        text-align: left;
    }
    .table-rules td.val {
        text-align: center
    }
    .table-rules td.none {
        background-color: #eee
    }
    .table-rules td.yes {
        background-color: #d9ead3
    }
    .table-rules td.no {
        background-color: #fce5cd
    }
    .table-rules td.c-perm {
        width: 300px;
    }
    .table-rules td.c-rule {
        width: 100px;
    }

</style>

    <h1>{% trans "Permissions" %}</h1>

    <table class="table-rules">

        <tr>
            <td></td>
            {% for rule, xxx in rules %}
                <td class="c-rule">{{ rule|trans_perm_var }}</td>
            {% endfor %}
        </tr>

        {% for permission in permissions %}
            <tr>
                <td class="c-perm">{{ permission|trans_perm_var }}</td>

                {% for rule, data in rules %}
                    {% with data|key_value:permission as val %}
                        {% if val == None %}
                            <td class="val none"></td>
                        {% else %}
                            {% if val %}
                                <td class="val yes">Yes</td>
                            {% else %}
                                <td class="val no">No</td>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}

            </tr>
        {% endfor %}

    </table>


{% comment %}

    <table>
        <tr>
            <td>
                <h2>Pravidla</h2>
                {% for action, v in RULES.items %}
                    <h3>{{ action }}</h3>
                    <table>
                        {% for perm, value in v.items %}
                            <tr>
                                <td>
                                    {{ perm }}
                                </td>
                                <td>
                                    {{ value|yesno }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}
            </td>

            <td>
                <h2>Role</h2>
                {% for role, rules in MEMBERS_RULES.items %}
                    <h3>{{ role }}</h3>
                    <table>
                        {% for perm, value in rules.items %}
                            <tr>
                                <td>
                                    {{ perm }}
                                </td>
                                <td>
                                    {{ value|yesno }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}
            </td>

        </tr>
    </table>

{% endcomment %}
{% endblock %}
