// ==========================================================================
// Title:        User Menu
// ==========================================================================

.user-menu {
    position: relative;
    @include reset-list;
    @include inline-list;
    overflow: visible;
}

.user-menu > li {
    margin-left: rem-calc(4);

    &:first-child {
        margin: 0;
    }
}

.user-menu .f-dropdown {
	@extend .f-dropdown;
}