*.pyc
*.log
*.mo
*~
*.egg-info
*.sublime-project
*.sublime-workspace
.sass-cache

settings_local.py
fab_settings.py

/docs/_build/
/openode/upfiles/
/env/
/templates/
/static

.idea/
mayan/
openode/dumps/
