<form action="{% url search %}" id="form-group js-search-input">
    <div class="row collapse">
        <div class="medium-12 columns">
        	<div class="search-form">
	            <input type="search" class="ui-autocomplete-input" placeholder="{% trans %}Search{% endtrans %}..." id="search" name="q" autocomplete="off">
	            <button type="submit" href="#" class="button button-submit t-uppercase">{% trans %}Search{% endtrans %}</button>
	            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
            </div>
        </div>
    </div>
</form>