<form id="signin-form" class="login" method="post" action="{{ settings.LOGIN_URL }}">
    {% csrf_token %}
    <div class="inputs t-left">
        {{ header_login_form.login_provider_name }} {{ header_login_form.next }} {{ header_login_form.password_action }}

        <div class="row collapse">
            <div class="medium-9 columns">
                <div class="row">
                    <div class="medium-6 columns">                        
                        <div class="row">
                            <div class="medium-3 columns">
                                <label for="" class="right inline">{% trans %}E-mail{% endtrans %}</label>
                            </div>
                            <div class="medium-9 columns">
                                {{ header_login_form.username }}
                            </div>
                        </div>              
                    </div>
                    <div class="medium-6 columns">
                        <div class="row">
                            <div class="medium-3 columns">
                                <label for="" class="right inline">{% trans %}Password{% endtrans %}</label>
                            </div>
                            <div class="medium-9 columns">
                                {{ header_login_form.password }}
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="medium-3 columns">
                <button type="submit" class="button expand">{% trans %}Log in{% endtrans %}</button>
            </div>
        </div>

    </div>
</form>