<form id="signin-form" class="login" method="post" action="{{ settings.LOGIN_URL }}">
    {% csrf_token %}
    <div class="inputs t-left">
        {{ header_login_form.login_provider_name }} {{ header_login_form.next }} {{ header_login_form.password_action }}
        <div class="signin-form-label-wrapper small-6 medium-4 columns">
            <!-- <span class="signin-form-label">{% trans %}E-mail{% endtrans %}:</span> -->
            {{ header_login_form.username }}
        </div>
        <div class="signin-form-label-wrapper small-6 medium-4 columns">
            <!-- <span class="signin-form-label">{% trans %}Password{% endtrans %}:</span> -->
            {{ header_login_form.password }}
        </div>
        <div class="signin-form-label-wrapper medium-4 columns">
            <button type="submit" class="signin-form-btn">{% trans %}Log in{% endtrans %}</button>
        </div>
    </div>
</form>