{# ======== USER MENU ========= #}

<div class="user-info">
    <div class="row">
        <div class="large-5 medium-12 small-12 columns">
            <div class="row collapse">
                {% include "user_menu/search_form.html" %}                
            </div>
        </div>
        <div class="large-7 medium-12 small-12 columns">
            <div class="row collapse">
                {%- if request.user.is_authenticated() -%}
                    {% include "user_menu/authenticated.html" %}
                {% else %}
                    {% include "user_menu/unauthenticated.html" %}
                {% endif %}
            </div>
        </div>        
    </div>
</div>