{% extends "email/base_mail.html" %}

{% block title %}{% trans %}Change password{% endtrans %}{%endblock%}

{% block headline %}{% trans %}Change password{% endtrans %}{%endblock%}

{% block content %}
    {% trans %}Greetings, somebody has requested these instructions for password renewal to your email. If it was not you personally, please ignore this message. In other case, please follow the link below:{% endtrans %}<br />
    <a href="{{ change_password_link }}">{{ change_password_link }}</a>
{% endblock %}

{% block footer %}
    {% include "email/footer.html" %}
{% endblock %}
