// ==========================================================================
// Title:        Icon Fonts
// ==========================================================================

@font-face {
  font-family: "openode";
  src:url("fonts/openode.eot");
  src:url("fonts/openode.eot?#iefix") format("embedded-opentype"),
    url("fonts/openode.woff") format("woff"),
    url("fonts/openode.ttf") format("truetype"),
    url("fonts/openode.svg#openode") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "openode" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "openode" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "a";
}
.icon-info:before {
  content: "b";
}
.icon-settings:before {
  content: "c";
}
.icon-mail:before {
  content: "d";
}
.icon-star:before {
  content: "e";
}
.icon-compass:before {
  content: "f";
}
.icon-plus:before {
  content: "g";
}
.icon-arrow-left:before {
  content: "k";
}
.icon-arrow-right:before {
  content: "l";
}
.icon-list:before {
  content: "h";
}
.icon-check:before {
  content: "i";
}
.icon-arrow-down:before {
  content: "j";
}
.icon-arrow-up:before {
  content: "m";
}

