{% extends "one_column_body.html" %}
{% from "macros.html" import render_user_infobox %}

{% block title %}{% spaceless %}{% trans %}Live{% endtrans %}{% endspaceless %}{% endblock %}

{% block endjs %}
    {{ super() }}
    <script type='text/javascript' src="{{"/js/infinite-ajax-scroll/jquery-ias.min.js"|media }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery.ias({
                container : '#js-pages',
                trigger: '{% trans %}Load more items{% endtrans %}',
                item: '.node-box',
                pagination: '.paginator',
                triggerPageThreshold: 100,
                next: '.next:last',
                loader: '<img src="{{"/js/infinite-ajax-scroll/images/loader.gif"|media }}"/>',
                history: false,
                onRenderComplete: function(items) {
                    jQuery(".next").hide();
                    jQuery(items).find(".next").show();
                }
            });
        });
    </script>
{% endblock endjs %}

{% block before_css %}
    {{ super() }}
    <link href="{{"/js/infinite-ajax-scroll/css/jquery.ias.css"|media }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

    <div id="js-pages">
        {% for thread in threads %}
            {% if check_perm(thread, request.user) %}
                {{ thread.get_summary_html(visitor=request.user, with_breadcrumbs=True, render_discussion_sample=True) }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="paginator">
        <a class="next" href="{{ request.path }}?page={{ page + 1 }}">NEXT PAGE</a>
    </div>

{% endblock content %}
