{% from "macros.html" import render_last_changed %}
{% set PRIVATE_NODE = NODE_TREE_DISPLAY and not node.is_leaf_node_for_user(nodes_of_user, with_closed) and not node.is_category() %}

<div id="element-{{ node.pk }}" class="node {% if node.parent_id %}sub-level js-subelement js-subelement-of-{{ node.parent_id }}{% else %}top-level js-top-node{% endif %} {% if root_id==node.parent_id %}js-force-open{% endif %} {% if PRIVATE_NODE %} is-private{% endif %}">
    <div class="node-box {% if NODE_TREE_DISPLAY and node.is_category() %} category{% endif %} level-{{ node.level }}">

        {% if node.is_leaf_node_for_user(nodes_of_user, with_closed) %}
            {% if not (NODE_TREE_DISPLAY and node.is_category()) %}
                <a href="{% url node node_id=node.pk, node_slug=node.slug %}" class="node-link-wrap"></a>
            {% endif %}
        {% endif%}

        <div class="node-box-content {% if NODE_TREE_DISPLAY and not node.is_leaf_node_for_user(nodes_of_user, with_closed) %} has-expand-control {% endif %}">
            <div class="inner">

                {# TITLE RENDER #}
                {% if NODE_TREE_DISPLAY and not node.is_leaf_node_for_user(nodes_of_user, with_closed) %}
                    {# NODE IS TREE NODE - show/hide on click #}
                    <a class="node-title-wrapper no-outline has-expand-control js-expander js-closed closed {% if USE_AJAX %}js-use-ajax{% endif %}" href="{% url toggle_node %}?node_id={{ node.pk }}" data-element_id="{{ node.pk }}" data-close="▾" data-open="▸">
                        {% if not node.long_title %}
                            <h3 class="node-title">
                                {{ node.title }}
                            </h3>
                            <div class="node-expand-area">
                                <div class="node-expand-control"></div>
                            </div>
                        {% else %}
                            <h3 class="node-title">                            
                                {{ node.title }}
                            </h3>   
                            <h4 class="node-long-title">
                                {{ node.long_title|truncate(200) }}
                            </h4> 
                            <div class="node-expand-area">
                                <div class="node-expand-control"></div>
                            </div>                        
                        {% endif %}                        
                    </a>
                {% else %}

                    {% if NODE_TREE_DISPLAY and node.is_category() %}

                        {# NODE IS CATEGORY AND LEAF will not be clickable - use about button #}
                        <h3 class="node-title">
                            {{ node.title }}
                        </h3>
                        <h4 class="node-long-title">
                            {{ node.long_title|truncate(200) }}
                        </h4>

                    {% else %}

                        {# NODE IS REGULAR LEAF #}
                        <a href="{% url node node_id=node.pk, node_slug=node.slug %}" class="node-title-link">
                            <h3 class="node-title">
                                {{ node.title }}
                            </h3>
                        </a>
                        <h4 class="node-long-title">
                            <a href="{% url node node_id=node.pk, node_slug=node.slug %}">
                                {{ node.long_title|truncate(200) }}
                            </a>
                        </h4>

                        <div class="node-meta-area modules">
                            {# NODE STYLE REGULAR #}
                            {% if node.module_qa %}
                                {% url node_module node.pk, node.slug, NODE_MODULE_QA as url %}
                                {% set unread=node.get_unread_count(nodes_of_user, NODE_MODULE_QA) %}
                                
                                <a href="{{ url }}" title="{% trans %}Open Node's questions{% endtrans %}" class="control-link">
                                    <span class="control-link-icon icon icon-plus round">
                                        {% if unread > 0 %}
                                            <span class="unread-mark small">{{ unread }}</span>
                                        {% endif %}
                                    </span>
                                    
                                    <span class="control-link-content">
                                        {% with threads_count_for_module=node.get_threads_count_for_module(NODE_MODULE_QA)  %}
                                            {% trans cnt = threads_count_for_module %}Q&A {% pluralize %}Q&As {% endtrans %}
                                            {{ threads_count_for_module }}
                                        {% endwith %}
                                    </span>
                                </a>
                            {% endif %}


                            {% if node.module_forum %}
                                {% url node_module node.pk, node.slug, NODE_MODULE_FORUM as url %}
                                {% set unread=node.get_unread_count(nodes_of_user, NODE_MODULE_FORUM) %}

                                <a href="{{ url }}" title="{% trans %}Open Node's discussion{% endtrans %}" class="control-link">
                                    <span class="control-link-icon icon icon-plus round">
                                        {% if unread > 0 %}
                                            <span class="unread-mark small">{{ unread }}</span>
                                        {% endif %}
                                    </span>
                                    
                                    <span class="control-link-content">
                                        {% with threads_count_for_module=node.get_threads_count_for_module(NODE_MODULE_FORUM)  %}
                                            {% trans cnt = threads_count_for_module %}Discus. {% pluralize %}Discus. {% endtrans %}
                                            {{ threads_count_for_module }}
                                        {% endwith %}
                                    </span>
                                </a>
                            {% endif %}


                            {% if node.module_library %}
                                {% url node_module node.pk, node.slug, NODE_MODULE_LIBRARY as url %}
                                {% set unread=node.get_unread_count(nodes_of_user, NODE_MODULE_LIBRARY) %}

                                <a href="{{ url }}" title="{% trans %}Open Node's documents{% endtrans %}" class="control-link">
                                    <span class="control-link-icon icon icon-plus round">
                                        {% if unread > 0 %}
                                            <span class="unread-mark small">{{ unread }}</span>
                                        {% endif %}
                                    </span>

                                    <span class="control-link-content">
                                        {% trans %}Docs.{% endtrans %}
                                        {% with threads_count_for_module=node.get_threads_count_for_module(NODE_MODULE_LIBRARY)  %}
                                            {{ threads_count_for_module }}
                                        {% endwith %}
                                    </span>
                                </a>
                            {% endif %}
                        </div>

                    {% endif %}
                {% endif %}

                <div class="node-meta-area">
                    {% if not (NODE_TREE_DISPLAY and node.is_category()) %}
                        {{ render_last_changed(node.get_last_activity_by(), node.get_last_activity_at())}}
                    {% endif %}
                    <span class="report-meta-item">
                        {{ node.title_status('plain')|title }}  
                    </span>
                    <span class="report-meta-item">
                        <a class="control-link" href="{% url node node_id=node.pk, node_slug=node.slug %}">{% trans %}about node{% endtrans %}</a>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>
