{% import "macros.html" as macros %}
{% load extra_filters_jinja %}
{% cache 0 "scope_sort_tabs" search_tags request.user author_name scope sort query context.page language_code %}

<div class="content-panel-filter">
    {% if request.user.has_openode_perm("node_qa_create", node) %}
        <a href="{% url thread_add node_id=node.pk, node_slug=node.slug, module='qa' %}" class="button button-submit t-uppercase">
            {% trans %}Add a question{% endtrans %}
        </a>
    {% endif %}

    <div class="filter-item">
        <span class="form-label">{{ search_user_form.authors.label }}:</span>
        {{ search_user_form.authors }}
    </div>

    <div class="filter-item">
        <span class="form-label">
            {% trans %}Sort by:{% endtrans %}
        </span>
        <div class="filter button dropdown" data-dropdown="filter-sort">
            {% trans %}created{% endtrans %}
        </div>
        <ul id="filter-sort" class="content-panel-dropdown f-dropdown" data-dropdown-content aria-hidden="true">
            <li>
                <a href="#">{% trans %}last change{% endtrans %}</a>
            </li>
            <li>
                <a href="#">{% trans %}number of answers{% endtrans %}</a>
            </li>
        </ul>
    </div>

    <div class="filter-item">
        <span class="form-label">
            {% trans %}Show:{% endtrans %}
        </span>
        <div class="filter button dropdown" data-dropdown="filter-show">
            {% if search_state.scope == 'all' %}
                {% trans %}all{% endtrans %}
            {% endif %}
            {% if module == 'qa' %}
                {% if search_state.scope == 'with-accepted-answer' %}
                    {% trans %}accepted answer{% endtrans %}
                {% endif %}
                {% if search_state.scope == 'with-no-accepted-answer' %}
                    {% trans %}no accepted answer{% endtrans %}
                {% endif %}
            {% endif %}
            {% if module == 'forum' %}
                {% if search_state.scope == 'unanswered' %}
                    {% trans %}no posts{% endtrans %}
                {% endif %}
            {% endif %}

            {% if request.user.is_authenticated() %}
                {% if search_state.scope == 'followed' %}
                    {% trans %}followed{% endtrans %}
                {% endif %}
            {% endif %}
        </div>
        <ul id="filter-show" class="content-panel-dropdown f-dropdown" data-dropdown-content aria-hidden="true">
            {% if not search_state.scope == 'all' %}
                <li>
                    <a href="{{ search_state.change_scope('all').full_url() }}" title="{% trans %}see all questions{% endtrans %}">
                        {% trans %}all{% endtrans %}
                    </a>
                </li>
            {% endif %}
            {% if module == 'qa' %}
                {% if not search_state.scope == 'with-accepted-answer' %}
                    <li>
                        <a href="{{ search_state.change_scope('with-accepted-answer').full_url() }}" title="{% trans %}see answered questions{% endtrans %}">
                            {% trans %}accepted answer{% endtrans %}
                        </a>
                    </li>
                {% endif %}
                {% if not search_state.scope == 'with-no-accepted-answer' %}
                    <li>
                        <a href="{{ search_state.change_scope('with-no-accepted-answer').full_url() }}" title="{% trans %}see unanswered questions{% endtrans %}">
                            {% trans %}no accepted answer{% endtrans %}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if module == 'forum' %}
                {% if not search_state.scope == 'unanswered' %}
                    <li>
                        <a href="{{ search_state.change_scope('unanswered').full_url() }}" title="{% trans %}see discussion with no post{% endtrans %}">
                            {% trans %}no posts{% endtrans %}
                        </a>
                    </li>
                {% endif %}
            {% endif %}

            {% if request.user.is_authenticated() %}
                {% if not search_state.scope == 'followed' %}
                    <li>
                        <a href="{{ search_state.change_scope('followed').full_url() }}" title="{% trans %}see your followed questions{% endtrans %}">
                            {% trans %}followed{% endtrans %}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</div>

{# === filter by author === #}
<div class="row hidden-important DEPRECATED">
    <div class="six column">
        <h2>{% trans %}Questions{% endtrans %}</h2>
    </div>
    <div class="six column">
        <div class="group filter">
            <form action="{{ request.path }}" method="get" class="js-filter-users">
                <dl class="sub-nav f-right">
                    <dt>
                        {{ search_user_form.authors.label }}:
                    </dt>
                    <dd>
                        {{ search_user_form.authors }}
                    </dd>
                </dl>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    load_selected = function(element, callback) {
        var data = [];
        {% for author in authors %}
            data.push({
                id: {{ author.pk }},
                text: '{{ author.screen_name }}'
            });
        {% endfor %}
        callback(data);
    }

    jQuery(document).ready(function(){
        var form = jQuery(".js-filter-users");
        form.on("change", "#id_authors", function(e){
            jQuery("#id_authors").prop('readonly', true);
            window.location.href = "?authors=" + jQuery("#id_authors").select2("val").join(",");
        })
    });
</script>


{# ============================= #}
{# ==OLD FILTER @TODO ASANA #4== #}

<div class="row hidden-important">
    <div class="twelve column">
        <div class="sort group">
            <dl class="sub-nav f-left">
                <dt>{% trans %}Show:{% endtrans %}</dt>
                <dd class="{% if search_state.scope == 'all' %}active{% endif %}">
                    <a href="{{ search_state.change_scope('all').full_url() }}" title="{% trans %}see all questions{% endtrans %}">{% trans %}all{% endtrans %}</a>
                </dd>
                {% if module == 'qa' %}
                    {#
                    <dd class="{% if search_state.scope == 'unanswered' %}active{% endif %}">
                        <a href="{{ search_state.change_scope('unanswered').full_url() }}" title="{% trans %}see unanswered questions{% endtrans %}">{% trans %}unanswered{% endtrans %}</a>
                    </dd>
                    #}
                    <dd class="{% if search_state.scope == 'with-accepted-answer' %}active{% endif %}">
                        <a href="{{ search_state.change_scope('with-accepted-answer').full_url() }}" title="{% trans %}see answered questions{% endtrans %}">{% trans %}accepted answer{% endtrans %}</a>
                    </dd>
                    <dd class="{% if search_state.scope == 'with-no-accepted-answer' %}active{% endif %}">
                        <a href="{{ search_state.change_scope('with-no-accepted-answer').full_url() }}" title="{% trans %}see unanswered questions{% endtrans %}">{% trans %}no accepted answer{% endtrans %}</a>
                    </dd>
                {% endif %}

                {% if module == 'forum' %}
                    <dd class="{% if search_state.scope == 'unanswered' %}active{% endif %}">
                        <a href="{{ search_state.change_scope('unanswered').full_url() }}" title="{% trans %}see discussion with no post{% endtrans %}">{% trans %}no posts{% endtrans %}</a>
                    </dd>
                {% endif %}

                {% if request.user.is_authenticated() %}
                    <dd class="{% if search_state.scope == 'followed' %}active{% endif %}">
                        <a href="{{ search_state.change_scope('followed').full_url() }}" title="{% trans %}see your followed questions{% endtrans %}">{% trans %}followed{% endtrans %}</a>
                    </dd>
                {% endif %}
            </dl>



            <dl class="sub-nav f-right" id="sort_tabs">
                <dt>{% trans %}Sort by:{% endtrans %}</dt>
                    {{ macros.reversible_sort_button(button_sort_criterium = 'age', label = _('created'), asc_tooltip = _('click to see the oldest questions'), desc_tooltip = _('click to see the newest questions'), search_state = search_state) }}
                    {{ macros.reversible_sort_button(button_sort_criterium = 'activity', label = _('last change'), asc_tooltip = _('click to see the least recently updated questions'), desc_tooltip = _('click to see the most recently updated questions'), search_state = search_state) }}
                {% if module == 'qa' %}
                    {{ macros.reversible_sort_button(button_sort_criterium = 'posts', label = _('number of answers'), asc_tooltip = _('click to see the least answered questions'), desc_tooltip = _('click to see the most answered questions'), search_state = search_state) }}
                {% endif %}

                {% if module == 'forum' %}
                    {{ macros.reversible_sort_button(button_sort_criterium = 'posts', label = _('number of posts'), asc_tooltip = _('click to see the least posted discussions'), desc_tooltip = _('click to see the most posted discussions'), search_state = search_state) }}
                {% endif %}

            {# ============================= #}

            </dl>
        </div>
    </div>
</div>



{% endcache %}
