{% from "macros.html" import add_or_show_comments_button %}
{% spaceless %}

{% if post.comment_count > 0 %}
    <h2 id="comment-title">Comments</h2>
    <div class="clean"></div>
{% endif %}

{% if enable_comments %}
    {% set widget_id = 'comments-for-' + post.post_type + '-' + post.id|string %}
{% endif %}

<div class="comments" id="{{widget_id}}">
    <div class="content">
        {% if show_post == post and show_comment and show_comment_position > max_comments %}
            {% set comments = post.get_cached_comments()[:show_comment_position] %}
        {% else %}
            {% set comments = post.get_cached_comments()[:max_comments] %}
        {% endif %}

        {% for comment in comments %}
            {# Warning! Any changes to the comment markup IN THIS `FOR` LOOP must be duplicated in post.js
               for the purposes of the AJAX comment editor #}
            <hr />

            <div class="comment" id="comment-{{comment.id}}">
                {% if comment.added_at > thread_view_last_visit %}
                    <span class="radius label alert">UNREAD</span>
                {% endif %}

                <div class="comment-votes">
                    {% if comment.score > 0 %}
                        <div id="comment-img-upvote-{{comment.id}}" class="upvote">{{ comment.score }}</div>
                        <script type="text/javascript">
                            openode['functions']['renderPostVoteButtons']('comment', '{{ comment.id }}');
                        </script>
                    {% else %}
                        <div class="upvote"></div>
                    {% endif %}
                </div>
                <div id="post-{{comment.id}}-delete" class="comment-delete">
                    <span class="delete-icon" title="{% trans %}delete this comment{% endtrans %}"></span>
                </div>
                <div class="comment-body">
                    {{comment.html}}
                    <a class="author" href="{{comment.author.get_profile_url()}}">{{ comment.author.screen_name|escape }}</a>
                    <span class="age">&nbsp;({{ comment.added_at|humanize_datetime }})</span>
                    <a id="post-{{comment.id}}-edit" class="edit">{% trans %}edit{% endtrans %}</a>
                    <form action="{% url comment_to_answer %}" method="POST" accept-charset="utf-8" class='convert-comment'>
                        {% csrf_token %}
                        <input type="hidden" value="{{comment.id}}" name="comment_id" id="id_comment_id">
                        <input type="submit" value="{% trans %}convert to answer{% endtrans %}">
                    </form>
                </div>
            </div>
            <script type="text/javascript">
                openode['functions']['hideConvertLinks']();
                openode['functions']['renderPostControls']('{{ comment.id }}');
            </script>
        {% endfor %}

    </div>

    {% if enable_comments %}
        <div class="controls">
            {% if show_post == post and show_comment %}
                {% if show_comment_position > max_comments %}
                    {{ add_or_show_comments_button(post = post, max_comments = show_comment_position, widget_id = widget_id) }}
                {% else %}
                    {{ add_or_show_comments_button(post = post, max_comments = max_comments, widget_id = widget_id) }}
                {% endif %}
            {% else %}
                {{ add_or_show_comments_button(post = post, max_comments = max_comments, widget_id = widget_id) }}
            {% endif %}
        </div>
    {% endif %}

</div>
{% endspaceless %}
