{# there is a whole bunch of trickery here, probably indicative of
poor design of the data or methods on data objects #}

{% if contributor_type=="original_author" %}
    <div class='post-update-info'>
        <p style="line-height:12px;">
            {# todo: access to class names needs to be removed here #}

            {% if post.is_question() %}
                {% trans %}asked{% endtrans %}
            {% elif post.is_answer() %}
                {% trans %}answered{% endtrans %}
            {% else %}
                {% trans %}posted{% endtrans %}
            {% endif %}

            {% if post.__class__.__name__ == 'PostRevision' %}
                <strong>{{ post.revised_at|humanize_datetime }}</strong>
            {% else %}
                <strong>{{ post.added_at|humanize_datetime }}</strong>
            {% endif %}

        </p>
        {% with %}
            {% set user = post.author %}
            {%- include "snippets/post_contributor_avatar_and_credentials.html" -%}
        {% endwith %}
    </div>

{% elif contributor_type=="last_updater" %}

    {% if post.post_type in ('question', 'answer') %}
        {% set last_edited_at = post.last_edited_at %}
        {% set original_author = post.author %}
        {% set update_author = post.last_edited_by %}
    {% elif post.__class__.__name__ == 'PostRevision' %}
        {% set last_edited_at = post.revised_at %}
        {% set original_author = None %}{# fake value to force display widget in the revision views #}
        {% set update_author = post.author %}
    {% endif %}

    {% if last_edited_at %}
        <div class='post-update-info'>
            <p style="line-height:12px;">
                <a
            {% if post.is_question() %}
                href="{% url question_revisions post.id %}"
            {% else %}
                href="{% url answer_revisions post.id %}"
            {% endif %}
                >{% trans %}updated{% endtrans %} <strong>{{ last_edited_at|humanize_datetime }}</strong></a>
            </p>
            {% if original_author != update_author %}
                {% with %}
                    {% set user = update_author %}
                    {%- include "snippets/post_contributor_avatar_and_credentials.html" -%}
                {% endwith %}
            {% endif %}
        </div>
    {% endif %}

{% endif %}
