.tab-bar {
    background: $primary-color;

    a {
        color: $base-color;
    }

    .right-small {
        border: none;
    }

    .logo-title {
        position: relative;

        .title, small {
            top: 0;
        }

        .title {
            font-size: rem-calc(14);
        }

        small {
            font-size: rem-calc(10);
        }
    }
}

.top-navbar {
    background: $primary-color;

    a {
        color: $base-color;
    }
}

.logo-title {
    display: inline-block;

    .title, small {
        display: inline-block;
        position: relative;
        top: rem-calc(4);
    }

    .title {
        font-size: rem-calc(22);
        font-weight: bold;
    }

    small {
        font-size: rem-calc(13);
        color: $icon-color;
        opacity: 0.9;
    }
}

.top-navbar-items {
    list-style: none;
    display: inline-block;
    margin: 0;

    li {
        display: inline-block;
        font-size: rem-calc(13);
        text-transform: uppercase;
        padding-right: rem-calc(15);

    }
}

.top-navbar-langs {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: rem-calc(5) 0;

    li {
        display: inline-block;
        text-align: center;
    }

    a {
        font-size: rem-calc(12);
        text-transform: uppercase;
        height: rem-calc(30);
        width: rem-calc(30);
        display: inline-block;
        border: 1px solid $icon-color;
        border-radius: 50%;
        line-height: rem-calc(30);
    }
}