.tab-bar {
    background: $primary-color;

    a {
        color: $base-color;
    }

    .right-small {
        border: none;
    }

    .logo-title {
        position: relative;

        .title, small {
            top: 0;
        }

        .title {
            font-size: rem-calc(14);
        }

        small {
            font-size: rem-calc(10);
        }
    }
}

.mobile-navbar-list {
    background: $primary-color;
}

ul.off-canvas-list {

    li a {
        color: $base-color;
        text-transform: uppercase;
        font-size: rem-calc(14);
        border: none;
        padding: rem-calc(10) rem-calc(20) 0;
    }
}

.top-navbar {
    background: $primary-color;

    a {
        color: $base-color;
    }
}

.logo-title {
    display: inline-block;

    .title, small {
        display: inline-block;
        position: relative;
        top: rem-calc(4);
    }

    .title {
        font-size: rem-calc(22);
        font-weight: bold;
    }

    small {
        font-size: rem-calc(13);
        color: $icon-color;
        opacity: 0.9;
    }
}

.top-navbar-items {
    list-style: none;
    display: inline-block;
    margin: 0;

    li {
        display: inline-block;
        font-size: rem-calc(13);
        text-transform: uppercase;
        padding-right: rem-calc(15);

    }
}

.top-navbar-langs {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: rem-calc(5) 0;

    li {
        display: inline-block;
        text-align: center;
    }

    a {
        font-size: rem-calc(12);
        text-transform: uppercase;
        height: rem-calc(30);
        width: rem-calc(30);
        display: inline-block;
        border: 1px solid $icon-color;
        border-radius: 50%;
        line-height: rem-calc(30);
    }
}

//Next Module

.user-info {
    background: #d7eefc;
    padding: rem-calc(20) 0;

    .search {
        padding-bottom: rem-calc(20);

        @media #{$medium-up} {
            padding-bottom: 0;
        }
    }

    .input-search {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;

        &:hover, &:focus {
            border-color: #b6c0cd;
            box-shadow: none;
        }
    }

    .button-search {
        width: 100%;
        margin: 0;
        line-height: rem-calc(5);
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 0;
        background: $icon-color2;
        color: $base-color2;
        text-transform: uppercase;
        font-size: rem-calc(12);
        font-weight: bold;

        &:hover {
            background: #FF9300;
        }
    }
}

.search-input-wrapper, .search-button-wrapper, .signin-form-label-wrapper {
    padding: 0;
}

.signin-form-label-wrapper {

    @media #{$medium-up} {
        position: relative;

    }

    #id_username {
        border-right:  none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        &:hover, &:focus {
            border-color: #b6c0cd;
            box-shadow: none;
        }
    }

    #id_password {
        border-left:  none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &:hover, &:focus {
            border-color: #b6c0cd;
            box-shadow: none;
        }

        @media #{$medium-up} {
            border-top-right-radius: 0;
        }
    }
}

.signin-form-btn {
    width: 100%;
    line-height: rem-calc(5);
    text-transform: uppercase;
    font-size: rem-calc(12);
    font-weight: bold;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: $icon-color;
    margin-bottom: rem-calc(10);
    padding: 0;

    &:hover {
        background: $primary-color;
    }

    @media #{$medium-up} {
        margin: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}