// ==========================================================================
// Title:        Logo
// ==========================================================================


.logo-area {

    .logo {
        position: absolute;
        top: rem-calc(7);

        width: 29px;
        height: 29px;
    }

    & > h1 {
    display: inline-block;
    margin: 0;
    line-height: 0;
    padding-left: rem-calc(33);   
    }
}

.logo-name {
    font-size: rem-calc(21);
    color: $white;
}

.logo-subname {
    font-size: rem-calc(13);
    color: $blue;

    @media #{$medium-only} {
            position: absolute;
    top: 36px;
    font-size: 9px;
    }
}