// ==========================================================================
// Title:        Node Box Expand Control
// ==========================================================================


// Variables for 'Expand Control Button'
$node-box-expand-control-bg: $white !default;
$node-box-expand-control-color: $node-box-parent-bg !default;
$node-box-expand-control-size: rem-calc(30px) !default;
$node-box-expand-control-font-size: rem-calc(18px) !default;


// Definition
.node-expand-control {
    transition: all .2s;

    display: inline-block;
    width: $node-box-expand-control-size;
    height: $node-box-expand-control-size;
    line-height: $node-box-expand-control-size + rem-calc(1px);
    text-align: center;

    background: $node-box-expand-control-bg;
    border-radius: 50%;
    border: 1px solid $node-box-expand-control-bg;

    font-family: $icon-font;

    ///font-family: 'openode';

    &:before {
        font-size: $node-box-expand-control-font-size;
        color: $node-box-expand-control-color;
    }

    &:hover, &:focus, &:active {
        transform: scale(1.2);
    }

    &:active {
        transform: scale(1);   
    }
}


// Modifications
.node-title-wrapper {
    &.open .node-expand-control:before {
        content: 'j';        
    }

    &.closed .node-expand-control:before {
        content: 'l';        
    }
}


