// ==========================================================================
// Title:        Node Box
// ==========================================================================


// Variables for spacing of 'Node Box'
$node-box-spacing: $global-spacing !default;

// Variables for spacing of 'Top Level Node'
$node-box-top-level-bg: $navy-blue !default;
$node-box-top-level-border-width: none !default;
$node-box-top-level-border-style: none !default;
$node-box-top-level-border-color: none !default;

// Variables for spacing of 'Sub Level Node'
$node-box-sub-level-bg: $white !default;
$node-box-sub-level-border-width: $global-border-width !default;
$node-box-sub-level-border-style: $global-border-style !default;
$node-box-sub-level-border-color: $global-border-color !default;


.node.top-level {

    // Anim expanding top-levels
    transform: translateZ(0); // Safari fix

    .node-box-content {
        .node-title {
            color: $white;
        }
    }
}


.node.sub-level {
    @include border-width(null $node-box-sub-level-border-width null $node-box-sub-level-border-width);
    @include border-style(null $node-box-sub-level-border-style null $node-box-sub-level-border-style);
    @include border-color(null $node-box-sub-level-border-color null $node-box-sub-level-border-color);

    // Anim expanding sub-levels
    transform: translateZ(0); // Safari fix
    
    .node-box {
        @extend .animate-fast;
        @extend .zoomInY;
    }

    .node-box-content .inner {
        @include border-width(null null $node-box-sub-level-border-width null);
        @include border-style(null null $node-box-sub-level-border-style null);
        @include border-color(null null $node-box-sub-level-border-color null);
    }
}

.node-box {

    &.category.level-0 {
        background: $node-box-top-level-bg;        

        a {
            color: $white;
        }
    }

    // Generate styles Sub Levels
    @include content-levels($minLevel: 1, 
        $maxLevels: 10, 
        $step: strip-unit(rem-to-px($node-box-spacing)), 
        $levelSelector: '&.level', 
        $contentSelector: '.node-box-content'
    ) {
        background: $node-box-sub-level-bg;
        @include border-width(null null $node-box-sub-level-border-width null);
        @include border-style(null null $node-box-sub-level-border-style null);
        @include border-color(null null $node-box-sub-level-border-color null);

        .node-expand-control {
            border: 1px solid $icon-color;
        }
    }
}

.node-title-wrapper {
    &.open .node-expand-control:before {
        content: 'j';        
    }

    &.closed .node-expand-control:before {
        content: 'l';        
    }
}



