// ==========================================================================
// Title:        ZATAMOKO
// ==========================================================================



// ==========	EDIT PROFILE STYLES
// ==========================================================================

.profile-edit {
	.aside-box {
		border: 1px solid #d2d2d2;
		margin: 0 0 1rem 0;
		border-radius: 3px;
		background-color: #ffffff;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;

		ul {
			@include reset-list;

			margin: 0;

			li {
				a {
					display: block;
					font-size: 0.875rem;
					color: #000;
					padding: 0.5rem 1.5rem;

					&:hover {
						background-color: #d7eefc;
					}
				}
			}
		}
		&.gravatar-box {
			padding: 2.5rem;

			.profile-gravatar-wrap {
				display: block;

				img {
					display: block;
				}
			}	
		}
	}
}


// ==========	MISC
// ==========================================================================

.unread-mark {
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 50px;
    font-weight: bold;

    // modified
    min-width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background: #ffcc00;
    font-size: 0.75rem;
    color: #000;
}
