// ==========================================================================
// Title:        ZATAMOKO
// ==========================================================================

// ==========	EDIT PROFILE STYLES
// ==========================================================================

.profile {
	.aside-box { 
		border: 1px solid #d2d2d2;
		border-radius: 3px;
		margin: 0 0 1rem 0;
		background-color: #ffffff;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;

		ul {
			@include reset-list;

			margin: 0;

			li {
				a {
					display: block;
					font-size: 0.875rem;
					color: #000;
					padding: 0.5rem 1.5rem;

					&:hover {
						background-color: #d7eefc;
					}
				}
			}
		}
		&.gravatar-box {
			padding: 2.5rem;

			.profile-gravatar-wrap {
				display: block;

				img {
					display: block;
				}
			}	
		}
	}
	.profile-title {
		margin-top: -0.5rem;

		h1 {;
			font-weight: 700;
			font-size: 1.5rem;
			line-height: 1.25em;
			margin-bottom: 1.25rem;
		}
	}
	.content-panel {

		.section-subtitle,
		h2 {
			color: #084a8b;
			font-weight: 400;
		}
		.section-subtitle {
			font-size: 1.875rem;
			border-bottom: 1px solid #e5e5e5;
			padding-bottom: 1rem;
			margin-bottom: 1rem;
		}
		h2 {
			font-size: 1.5rem;
			margin: 0 0 1.25rem 0;
		}
		.label-wrap {
			label {
				height: 2rem;
				line-height: 2rem;
			}
		}
		.input-wrap {
			input[type='text'] {
				width: 50%;
			}
		}
	}
}


// ==========	MISC
// ==========================================================================

.nav-container {
	display: none !important;
}