<div class="row hp-custom-content t-left">
    <div class="medium-6 columns">
        <h1 class="hp-custom-content-title">Welcome to Openode</h1>
        <p class="show-for-large-up">
            <strong>
                If you need to change this text, please overwrite a following file <br />
                <cite>openode-project/templates/homepage_content_en.html</cite>
            </strong>
        </p>
        <p>
            Mauris ornare adipiscing ipsum commodo luctus. Pellentesque volutpat vulputate congue. Etiam et odio risus, vel commodo mauris.
            Duis ac libero arcu, nec hendrerit risus. Aenean vitae nulla eu nunc viverra dictum et sed leo. Curabitur congue tortor ac ligula sollicitudin consequat.
            Integer adipiscing turpis a diam dapibus tempor. Duis lobortis, quam id auctor tempus, augue ligula luctus nisi, posuere vehicula urna nulla sed felis.
            Nulla quis bibendum metus. Sed quam ligula, consectetur eu aliquam vitae, aliquet quis mi. Sed tempus ligula at lorem porttitor blandit.
            Phasellus vehicula mollis eleifend.
        </p>
    </div>
    <div class="medium-6 columns">
        <h1 class="hp-custom-content-title">Lorem ipsum:</h1>
        <ul>
            <li>dolor sit amet, consectetur adipiscing elit. </li>
            <li>Sed adipiscing mi vel orci ultrices viverra. </li>
            <li>Duis accumsan, felis eget volutpat tincidunt, nibh velit <br />aliquet nisl, sed sagittis magna dolor sit amet ipsum. </li>
            <li>dolor sit amet, consectetur adipiscing elit. </li>
            <li>Sed adipiscing mi vel orci ultrices viverra. </li>
        </ul>
        <p>
            <a href="/account/signup/?login_provider=local&amp;next=/" class="button success">Register now!</a>
        </p>
    </div>
    <hr>
</div>