<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">

    <head>
        <title>{% block title %}{% endblock %} | {{ settings.APP_TITLE|escape }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="{%block keywords%}{%endblock%},{{ settings.APP_KEYWORDS|escape }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Set the viewport width to device width for mobile -->

        {% block meta_description %}
            <meta name="description" content="{{settings.APP_DESCRIPTION|escape}}" />
        {% endblock %}

        {% if settings.GOOGLE_SITEMAP_CODE %}
            <meta name="google-site-verification" content="{{ settings.GOOGLE_SITEMAP_CODE }}" />
        {% endif %}

        <link rel="shortcut icon" href="{{ settings.SITE_FAVICON|media }}" />

        {% block before_css %}{% endblock %}
        {% block forestyle %}{% endblock %}
        {% include "meta/html_head_stylesheets.html" %}
        {% include "meta/html_head_javascript.html" %}
        {% block forejs %}{% endblock %}
        {% if settings.USE_CUSTOM_HTML_HEAD %}
            {{ settings.CUSTOM_HTML_HEAD }}
        {% endif %}

        <script type="text/javascript" src="{{"/assets/js/modernizr.js"|media }}"></script>
        <script type="text/javascript" src="{{"/assets/js/jquery.js"|media }}"></script>
        <script type='text/javascript' src="{{"/assets/js/foundation.js"|media }}"></script>
        <script type='text/javascript' src="{{"/assets/js/foundation.offcanvas.js"|media }}"></script>

        {% if settings.GOOGLE_ANALYTICS_KEY %}
            <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_KEY }}']);
              _gaq.push(['_trackPageview']);
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            </script>
        {% endif %}
    </head>
    <!--[if lt IE 8]>
        <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
            <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
                <div style='width: 75px; float: left;'><img src='{{ '/style/i/old-ie-warning.jpg'|media }}' alt='Warning!'/>
                </div>
                <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
                    <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>{% trans %}You are using an outdated browser{% endtrans %}
                    </div>
                    <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>{% trans %}For a better experience using this site, please upgrade to a modern web browser.{% endtrans %}
                    </div>
                </div>
            </div>
        </div>
    <![endif]-->
    {# <body class="{% block body_class %}{% endblock %}{% if user_messages %} user-messages{% endif %}{% if page_class %} {{page_class}}{% endif %}{% if request.user.is_anonymous() %} anon{% endif %} lang-{{settings.LANGUAGE_CODE}}"> #}
    <body class="one-col {% block body_class %}{% endblock %}">

        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                {# === MOBILE TOP BAR === #}
                {% include "components/mobile_top_bar.html" %}
                
                {# === MAIN WRAPPER === #}
                <section class="main-section">
                    <div class="root">
                        <header class="header">
                            {# === DEBUG HEADER === #}
                            {% include "debug_header.html" %}

                            {# === TOP BAR === #}
                            {% block header %}
                                {% include "components/top_bar.html" %}
                            {% endblock %}
                        </header>

                        {# === USER HEADER === #}
                        {% block header_user %}
                            {% include "user_menu/user_menu_base.html" %}               
                        {% endblock %}

                        {# === BREADCRUMBS === #}
                        {% if not HOMEPAGE %}
                            <div class="nav-container">
                                <div class="row">
                                    <div class="large-12 columns">
                                        <ul class="breadcrumbs">
                                            {# first breadcrumb element #}
                                            <li><a href="/">{% trans %}Home{% endtrans %}</a></li>
                                            {% block breadcrumbs %}{% endblock %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {# === CUSTOM HEADER === #}
                        {% include "custom_header.html" ignore missing %}
                        {% if settings.CUSTOM_HEADER|trim != '' %}
                            <div id="custom-header">
                                {{ settings.CUSTOM_HEADER }}
                            </div>
                        {% endif %}

                        {# {% include "widgets/secondary_header.html" %} #}
                        {# Scope selector, search input and ask button #}
                        {% if settings.ENABLE_LEADING_SIDEBAR %}
                            <div id="leading-sidebar">
                                {{ settings.LEADING_SIDEBAR }}
                            </div>
                        {% endif %}

                        {% include "widgets/system_messages.html" %}

                        {% if user.is_authenticated() and not user.get_organizations() %}
                            {% include "widgets/enforce_organization.html" %}
                        {% endif %}

                        <div class="content-body {% block content_class %}{% endblock%}">
                            <div class="row">
                                <div class="small-12 columns">
                                    {% block body %}{% endblock %}
                                </div>
                            </div>
                        </div>
                        <div class="root-footer"></div>
                    </div>

                    {# === FOOTER === #}
                    {% include "components/footer.html" %}

                    {% include "meta/bottom_scripts.html" %}
                    {% block endjs %}{% endblock %}

                    <script type="text/javascript">
                        for (url_name in openode['urls']){
                            openode['urls'][url_name] = cleanUrl(openode['urls'][url_name]);
                        }
                    </script>

                    <script>
                        $(document).foundation();
                    </script>

                    {{ "before_body_end"|custom_template(request) }}
                </section>

            <a class="exit-off-canvas"></a>

            </div>
        </div>

    </body>
</html>
