{% if settings.USING_RUNSERVER %}
    {% if settings.DEBUG == False %}
    <div class="alert-box secondary">
        <p>
            You are seeing this message because you are using Django runserver
            and DEBUG is False. Runserver should not be used in production.
        </p>
        <p>
            To serve static media in production - please run:
            <pre>python manage.py collectstatic</pre>
        </p>
        {% if not settings.FORCE_STATIC_SERVE_WITH_DJANGO %}
        <p>
            Set FORCE_STATIC_SERVE_WITH_DJANGO = True to turn on django static media serving.
        </p>
        {% endif %}
    </div>
    {% endif %}
{% else %}
    {% if settings.DEBUG == True %}
        <div class="alert-box secondary">
            <p>
                Debug mode is on, do not use it in production.
                To turn it off, use DEBUG = False in your
                settings.py file.
            </p>
        </div>
    {% endif %}
{% endif %}
