{% extends "two_column_body.html" %}

{% from "macros.html" import node_breadcrumb, node_module_breadcrumb, sidebar_help, sidebar_back_button %} #}

{% block title %}{% spaceless %}{% trans %}Edit annotation{% endtrans %}{% endspaceless %}{% endblock %}

{% block breadcrumbs %}
    {{ node_breadcrumb(node) }}
    {{ node_module_breadcrumb(node, NODE_MODULE_ANNOTATION) }}
    <li>
        <span>{% trans %}Edit Node Annotation{% endtrans %}</span>
    </li>
{% endblock %}


{# ========================================================================== #}

{% block forestyle %}
    {{ form.media }}
{% endblock %}

{# ========================================================================== #}

{% block content %}

    <h1>Edit annotation for {{ node.title }}</h1>

    {# <form id="fmedit" action="." method="post"> #}
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}

        {{ form.text }}
        {{ form.text.errors }}

        <hr />

        <a class="button alert" onclick="history.back(-1);">{% trans %}Cancel{% endtrans %}</a>
        <input type="submit" value="{% trans %}Save edit{% endtrans %}" class="button success" />

        {#
        <div class="after-editor">
            <input id="edit_post_form_submit_button" type="submit" value="{% trans %}Save edit{% endtrans %}" class="submit" />
            <input type="button" value="{% trans %}Cancel{% endtrans %}" class="submit" onclick="history.back(-1);" />
        </div>
        #}

    </form>
{% endblock %}

{# ========================================================================== #}

{% block sidebar %}
    {% call sidebar_back_button(_('Back to Annotation')) -%} {# spaceless is neccessary because content is included into href #}
        {% url node_module node_id=node.pk, node_slug=node.slug, module=NODE_MODULE_ANNOTATION %}
    {%- endcall %}

    {{ sidebar_help(_('Node annotation'), _('help_node_annotation_short'), _('More help'), _('help_node_annotation_html'), 'help_node_annotation_html') }}

{% endblock %}

{# ========================================================================== #}

