{% extends "node/base_thread_add.html" %}
{% from "macros.html" import node_breadcrumb, node_module_breadcrumb, sidebar_help, sidebar_back_button %}

{% block breadcrumbs %}
    {{ node_breadcrumb(node) }}
    {{ node_module_breadcrumb(node, NODE_MODULE_QA) }}
    <li><span>{% trans %}Ask your Question{% endtrans %}</span></li>
{% endblock %}



{% block sidebar %}
    {% call sidebar_back_button(_('Back to Questions')) -%} {# spaceless is neccessary because content is included into href #}
        {% url node_module node_id=node.pk, node_slug=node.slug, module=NODE_MODULE_QA %}
    {%- endcall %}

    {{ sidebar_help(_('Ask your question'), _('help_node_question_add_short'), _('More help'), _('help_node_question_add_html'), 'help_node_question_add_html') }}

{% endblock %}
