// ==========================================================================
// Title:        Control link
// ========================================================================== 

.control-link {
    position: relative;
    font-size: rem-calc(12px);
    color: $link-color;

    & + .control-link {
        padding-left: rem-calc(20px);
    }    
}

.control-link-icon {
    position: relative;
    // top: rem-calc(4px);
    // left: 0;
    margin-right: rem-calc(4px);
    //right: rem-calc(4px);

    font-size: rem-calc(18px);
    line-height: rem-calc(26px);

    .unread-mark {
        position: absolute;
        top: rem-calc(-6px);
        right: rem-calc(-6px);
    }
}

.control-link-content {
    position: relative;
    top: rem-calc(-3px);
}