<!-- template footer.html -->
<div class="footer">
    {% if menu_items_footer %}
    <div class="row">
        <div class="columns twelve">
            <ul class="footer-menu group">
                {# footer menu - MenuItem #}
                {% for menu_item in menu_items_footer %}
                    <li><a href="{{ menu_item.url }}">{{ menu_item.title }}</a></li>
                {% endfor%}
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="row">

        <div class="six columns">
            <p class="powered-link">
                <br />
                {# TODO trans is not in .po file, maybe must not contain newlines #}
                <a href="http://www.openode.net" target="_blank">
                    {% trans version=settings.OPENODE_VERSION %}Powered by OPENode {{ version }}{% endtrans %}
                </a>
                <br/>
                {% trans coex_url="http://www.coex.cz", python_url="http://www.python.org", django_url="http://www.djangoproject.com" %}Open source written by <a href="{{coex_url}}">COEX</a> in <a href="{{python_url}}">Python</a> and <a href="{{django_url}}">Django</a>{% endtrans %}
                <br />
                {% trans %}Anything wrong with the system? Please report it to our <a href="https://github.com/openode/openode/issues">issues</a>.{% endtrans %}
            </p>
        </div>

        <div class="six columns">
            {% if settings.USE_LICENSE %}
                <p class="copyright">
                    {# {{ settings.APP_COPYRIGHT }} #}
{#                     {% trans
                        license_acronym=settings.LICENSE_ACRONYM,
                        license_title=settings.LICENSE_TITLE,
                        license_url=settings.LICENSE_URL
                    %}
                        Content on this site is licensed under a <a href="{{license_url}}" title="{{licence_title}}">{{ license_acronym }}</a> license.
                    {% endtrans %}
 #}
                    {% if settings.LICENSE_USE_LOGO %}
                        <a class="license-logo" href="{{ settings.LICENSE_URL}}">
                            <img src="{{settings.LICENSE_LOGO_URL|media }}" title="{{settings.LICENSE_TITLE}}" alt="{{settings.LICENSE_ACRONYM}}" />
                        </a><br />
                    {% endif %}
                {% trans eu_project="CZ.1.04/6.1.00/09.00016" %}This project has been funded by EU under the project {{eu_project}}.{% endtrans %}
                </p>
            {% endif %}
        </div>

    </div>
</div>
<!-- end template footer.html -->
