{% import "macros.html" as macros %}
{% load extra_filters_jinja %}

<div id="organization-wiki-{{organization.id}}" class="box organization-wiki">
    <h2>{% trans %}Organization info{% endtrans %}</h2>
    {% if organization.logo %}
        {% with %}
            {% set logo = organization.get_logo_url(300) %}
            {% if logo %}
                <img src="{{ logo }}" class="organization-logo" />
            {% endif %}
        {% endwith %}
    {% endif %}
    {% if request.user.is_admin('openode.change_organization') %}
            <a href="{% url admin:openode_organization_change organization.pk %}" class="control-link">{% trans %}edit{% endtrans %}</a>
    {% endif %}
    <div class="content">
        {% if organization.description %}
            {{ organization.description.html }}
        {% endif %}
    </div>

    <div class="clearfix"></div>

    {% if user_membership_level == 'none' and user_acceptance_level == 'open' %}
        <a href="{% url organization_membership organization.pk, organization.slug %}?request=join" class="btn">{% trans %}Join organization{% endtrans %}</a>
    {% elif user_membership_level == 'none' and user_acceptance_level == 'moderated' %}
        <a href="{% url organization_membership organization.pk, organization.slug %}?request=join" class="btn">{% trans %}Ask to join organization{% endtrans %}</a>
    {% elif user_membership_level == 'full' %}
        <a href="{% url organization_membership organization.pk, organization.slug %}?request=leave" class="btn">{% trans %}Leave organization{% endtrans %}</a>
    {% elif user_membership_level == 'pending' %}
        <a href="{% url organization_membership organization.pk, organization.slug %}?request=cancel" class="btn">{% trans %}Cancel request ask to join organization{% endtrans %}</a>
    {% endif %}
</div>
