{% from "macros.html" import render_gravatar %}
<div class="userList">
    <table class="list-table">
        <tr>
            <td class="list-td">
                {% for user in users %}
                <div class="user">
                    <ul>
                            <li class="thumb">
                                {{ render_gravatar(user, 32) }}
                            </li>
                            <li><a href="{% url user_profile user.id %}{% if profile_section %}?sort={{profile_section}}{% endif %}">{{user.screen_name|escape}}</a>{% include "snippets/user_country_flag.html" %}</li>
                        </ul>
                </div>
                    {% if loop.index is divisibleby 7 %}
            </td>
            <td>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    </table>
</div>
