<div class="footer">
    <div class="row">
        <div class="columns twelve">
            <ul class="footer-menu group">
                    <li><a href="#">Footer link 1</a></li>
                    <li><a href="#">Footer link 2</a></li>
                    <li><a href="#">Footer link 3</a></li>
                    <li><a href="#">Footer link 4</a></li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="six columns">
            <p class="powered-link">
                <br>
                <a href="http://www.openode.net" target="_blank">
                    Powered by OPENode 0.5.3
                </a>
                <br>
                Open source written by <a href="http://www.coex.cz">COEX</a> in <a href="http://www.python.org">Python</a> and <a href="http://www.djangoproject.com">Django</a>
                <br>
                Anything wrong with the system? Please report it to our <a href="https://github.com/openode/openode/issues">issues</a>.
            </p>
        </div>

        <div class="six columns">
                <p class="copyright">
                        <a class="license-logo" href="#">
                            <img src="/upfiles/logo.png" title="Your custom logo" alt="Logo">
                        </a><br>
                
                <strong>
                    If you need to change this text, please overwrite a following file <br /><br /><br />
                    <cite>openode-project/templates/custom_templates/footer/footer_content_cs.html</cite>
                </strong>
                
                </p>
        </div>
    </div>
</div>