{% extends "user_profile/user.html" %}

{% block profile_breadcrumbs %}
    <li><span>{% trans %}Unresolved requests to create Node{% endtrans %}</span></li>
{% endblock %}

{% block profilesection %}
    {% trans %}Unresolved requests to create Node{% endtrans %}
{% endblock %}

{% block usercontent %}
<div class="content-panel">
    <div class="content-panel-header">
        <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
            {# first breadcrumb element #}
            <li><a href="/">{% trans %}Home{% endtrans %}</a></li>
            <li>
                {% if request.user.is_authenticated() %}
                    <a href="{% url users %}">{% trans %}Users{% endtrans %}</a>
                {% else %}
                    <span>{% trans %}Users{% endtrans %}</span>
                {% endif %}
            </li>
            <li><a href="{% url user_profile view_user.id %}">{{ view_user.screen_name|escape }}</a></li>
            <li><span>{% trans %}Unresolved requests to create Node{% endtrans %}</span></li>
        </nav>
    </div>
    <div class="content-panel-content">
    {% if node_create_requests %}
        <table>
        {% for node_create_request in node_create_requests %}
            <tr>
                {% url user_profile node_create_request.user.pk as user_url %}
                <td style="width: 100%">
                    {{ node_create_request.render_data(_("%(user_name)s (%(user_email)s) wants to create a new node %(node_name)s. Here is a note regarding the request: %(note)s")) }}
                </td>

                <td>{# forms with accept and reject buttons #}
                    <form action="{% url resolve_node_create_request %}?title={{ node_create_request.render_data("%(node_name)s") }}" method="post">
                        {% csrf_token %}
                        <input
                            type="hidden"
                            name="request_id"
                            value="{{node_create_request.pk}}"
                        />
                        <input type="hidden" name="action" value="approve"/>
                        <input
                            class="btn button success"
                            type="submit"
                            value="{% trans %}Approve{% endtrans %}"
                        />
                    </form>
                </td>

                <td>
                    <form action="{% url resolve_node_create_request %}" method="post">
                        {% csrf_token %}
                        <input
                            type="hidden"
                            name="request_id"
                            value="{{node_create_request.pk}}"
                        />
                        <input type="hidden" name="action" value="deny"/>
                        <input
                            class="btn button alert"
                            type="submit"
                            value="{% trans %}Deny{% endtrans %}"
                        />
                    </form>
                </td>

            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>{% trans %}You have no unresolved requests.{% endtrans %}</p>
    {% endif %}
    </div>
</div>
{% endblock %}
