{% extends "user_profile/user.html" %}

{% block profile_breadcrumbs %}
    <li><span>{% trans %}Unresolved requests to create Node{% endtrans %}</span></li>
{% endblock %}

{% block profilesection %}
    {% trans %}Unresolved requests to create Node{% endtrans %}
{% endblock %}

{% block usercontent %}
    {% if node_create_requests %}
        <table>
        {% for node_create_request in node_create_requests %}
            <tr>
                {% url user_profile node_create_request.user.pk as user_url %}
                <td style="width: 100%">
                    {{ node_create_request.summary }}

                </td>
                <td>{# forms with accept and reject buttons #}
                    <form action="" method="post">{% csrf_token %}
                        <input
                            type="hidden"
                            name="request_id"
                            value="{{node_create_request.pk}}"
                        />
                        <input type="hidden" name="action" value="approve"/>
                        <input
                            class="btn button success"
                            type="submit"
                            value="{% trans %}Approve{% endtrans %}"
                        />
                    </form>
                </td>
                <td>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input
                            type="hidden"
                            name="request_id"
                            value="{{node_create_request.pk}}"
                        />
                        <input type="hidden" name="action" value="deny"/>
                        <input
                            class="btn button alert"
                            type="submit"
                            value="{% trans %}Deny{% endtrans %}"
                        />
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>{% trans %}You have no unresolved requests.{% endtrans %}</p>
    {% endif %}
{% endblock %}
