{% extends "user_profile/user.html" %}

{% block profile_breadcrumbs %}
    <li><span>{% trans %}Question flow - new  questions{% endtrans %}</span></li>
{% endblock %}

{% block profilesection %}
    {% trans %}Question flow - new  questions{% endtrans %}
{% endblock %}

{% block usercontent %}
    {% if question_flow_to_taken %}
        {% for question in question_flow_to_taken %}
            {% set qf_form = get_qf_form(question) %}
            {{ question.get_summary_html(visitor=request.user) }}
            <form action="{{ request.path }}" method="post">{% csrf_token %}
                {{ qf_form.question }}
                <table>
                    <tr>
                        <td>{{ qf_form.responsible_users.label_tag() }}</td>
                        <td>{{ qf_form.responsible_users }}</td>
                        <td><input class="btn button" type="submit" value="{% trans %}Submit{% endtrans %}" /></td>
                    </tr>
                </table>
            </form>
            <hr />
        {% endfor %}
    {% else %}
        <p>{% trans %}No question to solve.{% endtrans %}</p>
    {% endif %}
{% endblock %}
