{% extends "user_profile/user.html" %}

{% block breadcrumbs %}
    <li><a href="{% url user_profile view_user.id %}">{{ view_user.screen_name|escape }}</a></li>
    <li><span>{% trans %}Offensive flags reports{% endtrans %}</span></li>
{% endblock %}

{% block profilesection %}
    {% trans %}Offensive flags reports{% endtrans %}
{% endblock %}

{% block usercontent %}
    <div id="re_tools">
            <a class="btn" id="re_remove_flag">{% trans %}remove flags/approve{% endtrans %}</a>
            <a
                class="btn"
                id="re_delete_post"
            >{% trans %}delete post{% endtrans %}</a>
    </div>
    {% include "user_profile/reject_post_dialog.html" %}
    <div id="responses">
    {% for response in responses %}
        <div class="response-parent" data-response-id="{{response.id}}">
            <p class="headline">
                <strong>"{{ response.response_title.strip()|escape}}"</strong>
            </p>
            {% include "snippets/inbox_post_snippet.html" %}
            {% for nested_response in response.nested_responses %}
                {% with %}
                    {% set response = nested_response %}
                    {% include "snippets/inbox_post_snippet.html" %}
                {% endwith %}
            {%endfor%}
        </div>
        <div class="clearfix"></div>
    {% endfor %}
    </div>
{% endblock %}
