{% extends "two_column_profile.html" %}

{% block title %}{% spaceless %}{{ page_title }}{% endspaceless %}{% endblock %}

{% block body_class %}profile{% endblock %}

{% block breadcrumbs %}

    <li>
        {% if request.user.is_authenticated() %}
            <a href="{% url users %}">{% trans %}Users{% endtrans %}</a>
        {% else %}
            <span>{% trans %}Users{% endtrans %}</span>
        {% endif %}
    </li>

    {% block profile_breadcrumbs_base %}
    <li><a href="{% url user_profile view_user.id %}">{{ view_user.screen_name|escape }}</a></li>

    {% block profile_breadcrumbs %}{% endblock %}

    {% endblock %}
{% endblock %}

{% block profile_menu %}
{% include "user_profile/user_aside.html" %}
{% endblock %}

{% block content %}
    <div class="content-panel-wrapper">
        {% block userheader %}
            <div class="content-panel-control content-inline">
                <h2 class="title">{{ view_user.screen_name|escape }} &ndash; {% block profilesection %}{% endblock %}</h2>
            </div>
        {% endblock %}

        {% block usercontent %}
        {% endblock %}
    </div>
{% endblock %}


{% block endjs %}
    <script type="text/javascript">
        var viewUserID = {{view_user.id}};
        openode['data']['viewUserName'] = '{{ view_user.screen_name|escape }}';
        openode['data']['viewUserId'] = {{view_user.id}};
    </script>
    {% if request.user|can_moderate_user(view_user) %}
        <script type='text/javascript' src='{{"/js/jquery.form.js"|media}}'></script>
    {% endif %}
    <script type="text/javascript" src='{{"/js/user.js"|media}}'></script>
    <script type='text/javascript' src='{{"/js/jquery.validate.min.js"|media}}'></script>
    <script type="text/javascript" src='{{"/js/post.js"|media}}'></script>
    {% block userjs %}
    {% endblock %}
{% endblock %}

{# {% block sidebar %}
<div class="box">
    {{ settings.SIDEBAR_PROFILE_HEADER }}
</div>
<div class="box">
    {{ settings.SIDEBAR_PROFILE_FOOTER }}
</div>
{% endblock %}
 #}<!-- end of user.html -->
