{% extends "user_profile/user.html" %}

<!-- user_recent.html -->
{% block profilesection %}
    {% trans %}activity{% endtrans %}
{% endblock %}

{% block usercontent %}
<div class="content-panel">
    <div class="content-panel-header">
        {% block profile_breadcrumbs_base %}            
            <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
                <li><span>{% trans %}Activity{% endtrans %}</span></li>
            </nav>
        {% endblock %}
    </div>
    <div class="content-panel-content">
        <div class="row">
            <div class="large-12 columns">
                <div style="padding-top:5px;font-size:13px;">
                {% for act in activities %}
                    <div style="clear:both;line-height:20px" >
                        <div style="width:180px;float:left">{{ act.time|humanize_datetime }}</div>
                        <div style="width:150px;float:left">
                        <span class="user-action-{{ act.type_id }}">{{ act.type }}</span>
                        </div>
                        <div style="float:left;overflow:hidden;">

                            <span class="post-type-{{ act.type_id }}"><a href="{{ act.title_link }}">{{ act.title|escape }}</a></span>
                            {% if act.summary %}<span class="revision-summary">{{ act.summary|escape }}</span>{% endif %}
                            <div style="height:5px"></div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- end user_recent.html -->
