{% extends "user_profile/user.html" %}
{% from "macros.html" import render_gravatar, render_formfield_row, sidebar_back_button, sidebar_help %}
{% block forejs %}
    {{ form.media }}
{% endblock %}

{% block title %}{% spaceless %}{% trans %}Edit user profile{% endtrans %}{% endspaceless %}{% endblock %}

{% block body_class %}profile{% endblock %}

{% block sidebar %}
    {% call sidebar_back_button(_('Back to Profile')) -%} {# spaceless is neccessary because content is included into href #}
        {% url user_profile view_user.id %}
    {%- endcall %}

    {{ sidebar_help(_('Update profile'), _('help_update_profile_short'), _('More help'), _('help_update_profile_html'), 'help_update_profile_html') }}

{% endblock %}

{% block breadcrumbs %}
    <li>
        {% if request.user.is_authenticated %}
            <a href="{% url users %}">{% trans %}Users{% endtrans %}</a>
        {% else %}
            <span>{% trans %}Users{% endtrans %}</span>
        {% endif %}
    </li>
    <li><a href="{% url user_profile view_user.id %}">{{ view_user.screen_name|escape }}</a></li>
    <li><span>{% trans %}Update Profile{% endtrans %}</span></li>
{% endblock %}

{% block profile_menu %}
{% include "user_profile/user_aside.html" %}
{% endblock %}


{% block userheader %}
<div class="content-panel-control content-inline">
    <h2 class="title">{{ request.user.screen_name|escape }}</h2>                        
</div>
{% endblock %}

{% block usercontent %}
<div class="content-panel">
    <div class="content-panel-header">
        <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
            {# first breadcrumb element #}
            <li><a href="/">{% trans %}Home{% endtrans %}</a></li>
            <li>
                {% if request.user.is_authenticated() %}
                    <a href="{% url users %}">{% trans %}Users{% endtrans %}</a>
                {% else %}
                    <span>{% trans %}Users{% endtrans %}</span>
                {% endif %}
            </li>
            <li><a href="{% url user_profile view_user.id %}">{{ view_user.screen_name|escape }}</a></li>
            <li><span>{% trans %}Update Profile{% endtrans %}</span></li>
        </nav>
    </div>
    <div class="content-panel-content">
        <div class="row">
            <div class="large-12 columns tabular-form">
                <div class="section-subtitle">
                    {% trans %}Edit profile{% endtrans %}
                </div>

                {% if form.errors %}
                    <div class="alert-box alert">{% trans %}Cannot submit, form has errors.{% endtrans %}</div>
                {% endif %}
                
                <form name="" action="{% url edit_user request.user.id %}" method="post">{% csrf_token %}

                    {#
                    <div class="row">
                        <div class="three columns">
                            {{ render_gravatar(view_user, 128) }}
                        </div>
                        <div class="nine columns">
                            {% if request.user == view_user %}
                                <p><a
                                    {% if support_custom_avatars %}
                                        href="{% url avatar_change %}"
                                    {% endif %}
                                >{% trans %}change picture{% endtrans %}</a></p>
                                {% if support_custom_avatars %}
                                <p><a
                                    href="{% url avatar_delete %}"
                                    >{% trans %}remove{% endtrans %}</a>
                                </p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    #}

                    <div class="row">
                        <div class="columns large-12">
                            <h2>{% trans %}Required information{% endtrans %}</h2>
                        </div>
                    </div>
                    {{ render_formfield_row(form.first_name, labeltext=_('First name')) }}
                    {{ render_formfield_row(form.last_name, labeltext=_('Last name')) }}

                    <div class="row separator-01"></div>
                    <div class="row">
                                <div class="columns large-12">
                                    <h2>{% trans %}Optional information{% endtrans %}</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns large-12">
                                    <p>{% trans %}If you want do change your sigature to something else than first name and last name, please fill up the Screen name.{% endtrans %}</p>
                                </div>
                            </div>
                    {{ render_formfield_row(form.display_name, labeltext=_('Screen name')) }}
                    {{ render_formfield_row(form.user_description, labeltext=_('Description')) }}
                    <div class="row separator-01"></div>
                    <div class="row">
                        <div class="columns large-12">
                            <h2>{% trans %}Profile picture{% endtrans %}</h2>
                            <p>{% trans gravatar_link = '<a href="http://www.gravatar.com/" title="Globally Recognized Avatar">www.gravatar.com</a>' %}Your profile picture (avatar) may be changed using Globally Recognized Avatar service ({{ gravatar_link }}). Just remember to use same email address for your identification.{% endtrans %}</p>
                        </div>
                    </div>
                    <div class="row separator-01"></div>
                    <div class="row">
                        <div class="columns large-12">
                            <h2>{% trans %}Privacy settings{% endtrans %}</h2>
                        </div>
                    </div>
                    {{ render_formfield_row(form.privacy_show_followed, labeltext=_('Publish your followed'), helptext=_('Other registered users will be able to see your followed content including your unread posts.')) }}
                    {{ render_formfield_row(form.privacy_email_form, labeltext=_('Allow form for sending email messages'), helptext=_('Other registered users will be able to send you messages through the form in your profile. Your email address will not be compromised.')) }}
                    <div class="row">
                        <div class="large-3 columns"></div>
                        <div class="large-9 columns t-right">
                            <button class="button button-submit" type="submit" name="post">{% trans %}Save{% endtrans %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block endjs %}
        <script type="text/javascript">
            $().ready(function(){
                $("#nav_profile").attr('className',"on");
                $("#cancel").bind('click', function(){history.go(-1);})
            });
        </script>
        {% block userjs %}
        {% endblock %}
{% endblock %}

