// ==========================================================================
// Title:        Buttons
// ==========================================================================

$button-avatar-size: rem-calc(25) !default; 
$button-avatar-offset: rem-calc(4) !default; 

.button {
    @include button(
        $radius: true
    );

    /*height: $button-base-height;
    line-height: $button-base-height;

    padding: 0 $button-base-size *2 0 $button-base-size *2;

    &.dropdown {
        padding: 0 $button-base-size *4 0 $button-base-size *2;
    }*/

    &.icon, & > .icon {
        padding-top: $button-base-size - rem-calc(1px);
        padding-bottom: $button-base-size + rem-calc(1px);

        &:before {
            position: relative;
            top: rem-calc(3);
            left: rem-calc(-6);

            font-size: rem-calc(15);
            line-height: rem-calc(15);
            color: $secondary-color;     
        }
    }    
}

.button-avatar {
    padding-left: $button-base-height;

    & > img {
        width: $button-avatar-size;
        height: $button-avatar-size;

        border-radius: 50%;
        position: absolute;
        top: $button-avatar-offset;
        left: rem-calc(5);
    }
}

.button-submit {
    @include button(
        $bg: $yellow,
        $radius: true
    );

    box-shadow: inset -1px -1px 0 0 #b28e00;
    border: 1px solid #ffe67f;
}

