// ==========================================================================
// Title:        Content Panel
// ==========================================================================

 
// Variables
$content-panel-padding: rem-calc(17px) !default;
$content-panel-bg-color: $white !default; 
$content-panel-header-bg-color: $tertiary-color !default; 
$content-panel-header-font-size: rem-calc(12px) !default; 


.content-panel {
    background: $content-panel-bg-color;
    border: 1px solid $global-border-color;
    border-radius: $global-radius;
}

.content-panel-header {
    padding: $content-panel-padding;
    background: $content-panel-header-bg-color;
    
    & > * {
        font-size: $content-panel-header-font-size;
    }

    button,
    .button {
        margin: 0;
    }  

    .content-panel-dropdown {
        padding: rem-calc(5px) rem-calc(15px);
        max-width: rem-calc(140px);

        li {
            font-size: $content-panel-header-font-size;
        }
    }   
}

.content-panel-filter {
    @extend .content-panel-header;

    & > .form-label {
        font-size: $content-panel-header-font-size;
    }

    .content-panel-dropdown {
        max-width: rem-calc(180px) !important;
    }

    .filter-item {
        display: inline-block;
        margin-left: rem-calc(24px);

        .filter {
            //min-width: rem-calc(153px);
            text-align: left;
        }
    }

    // @TODO refactor
    .select2-container {
        width: 140px !important;
        height: 34px;
        position: relative;
        top: -8px;

        .select2-choices {
            height: 34px!important;
            border-radius: $global-radius;
        }


    }
    .select2-results {
        font-size: 10px!important;
    }

    .select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
        font-size: 10px!important;
    }
}

.content-panel-control {
    &.content-inline {
        @include clearfix();

        & > * {
            display: inline-block;
        }
    }

    .control-link-icon {
        /*position: relative;
        top: rem-calc(4px);
        right: rem-calc(4px);*/

        /*font-size: rem-calc(18px);
        line-height: rem-calc(28px);*/
    }
}

.content-panel-content {
    padding: $content-panel-padding;

    .node-title {
        font-size: rem-calc(30px);
        line-height: rem-calc(36px);
        color: $primary-color;
    }
}


.content-panel-wrapper {
    position: relative;    
    top: rem-calc(-5px); // for adjust horizontal line with other boxes
    margin-bottom: rem-calc(20px);
    
    .title {
        text-transform: uppercase;
        font-size: rem-calc(24px);
        line-height: rem-calc(28px);
        margin-bottom: rem-calc(16px);
    }
    .control-link {        
        font-size: rem-calc(12px);
        color: $link-color;
    }
}

.content-panel-dropdown {
    text-align: left;
}



