// ==========================================================================
// Title:        Dropdown Buttons
// ==========================================================================

.dropdown.button,
button.dropdown {
    &:after {
        border-color: $dropdown-button-pip-color transparent transparent transparent;
    }
}