// ==========================================================================
// Title:        Unread Mark
// ==========================================================================

.unread-mark {
	display: inline-block;
	text-align: center;

	border: 1px solid $secondary-color;
	border-radius: 50px; 

	min-width: rem-calc(18px);
	height: rem-calc(18px);
	line-height: rem-calc(17px);

	background: $white;
	font-weight: bold;
	color: $secondary-color;
	
}